.path-join-su h1.page-title{
	display: none;
}
.path-join-su #block-bootstrap-business-content {
    margin-top: 40px;
}
.path-join-su #block-bootstrap-business-content .content .content {
    margin-top: 40px;
}

.path-jujue #block-bootstrap-business-content {
    margin-top: 40px;
}
.path-jujue h1.page-title{
	display: none;
}
.path-jujue #block-bootstrap-business-content .content .content {
    margin-top: 40px;
}

.path-wanshan-finish #block-bootstrap-business-content {
    margin-top: 40px;
}
.path-wanshan-finish h1.page-title{
	display: none;
}
.path-wanshan-finish #block-bootstrap-business-content .content .content {
    margin-top: 40px;
}