ul#submenu{
		height: 53px;
    line-height: 53px;
    border-bottom: 2px solid #e6e9f0;
    font-size: 14px;
}
ul#submenu li{}
ul#submenu li a,
ul#submenu li a:visited{
	  display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    padding: 0 2px;
    margin-right: 40px;
    color: #333;
    position: relative;
}
ul#submenu li a.active,
ul#submenu li a.active:visited{
    color: #CC0001;
    background-color: transparent;
}
ul#submenu li a:hover::after, ul#submenu li a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #CC0001;
}
ul#submenu li a.active:hover,
ul#submenu li a:hover{
	background: transparent;
}